.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.imgcontainer{
	margin-top: 30px;
	min-width: 200px;
	min-height:200px;
	max-width: 30%;
	border-radius: 5px;
	border:1px solid #bcbcbc;
	padding:15px;
	position: relative;
	cursor: pointer;
	transition: border 0.25s;
	margin-bottom: 50px;
}
.imgcontainer:before,
.imgcontainer:after{
	content:'';
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	background: #bcbcbc;
	transition: all 0.25s;
	z-index: 1;
}
.imgcontainer:before{
	width:2px;
	height:30px;
}
.imgcontainer:after{
	width:30px;
	height:2px;
}
.imgcontainer:hover{
	border:1px solid #337ab7;
}
.imgcontainer:hover:before,
.imgcontainer:hover::after{
	background: #337ab7;
}
.imgcontainer>img{
	width: 100%;
	min-width: 100%;
	height: 100%;
}
.masklayer{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	position: absolute;
	left: 0;
	top:0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.masklayer.hidden{
	display: none;
}
.pregress-container{
	width: 70%;
	height:40px;
	background: #ffffff;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	position: relative;
	overflow:hidden;
}
.pregress-container>span{
	position: relative;
	z-index: 1;
}
.progress{
	height: 100%;
	width: 0%;
	background: #409eff;
	border-radius: 100px;
	transition: all 0.25s;
	position:absolute;
	left:0;
}